---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true}));
---

<body>
    <BaseLayout pageTitle="The main character in Cyberpunk 2077">
    <ul>
      { allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />) }
    </ul>
</body>